.chatContainer {
  display: flex; 
}

.chatPannel{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topSection{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
}

.userInfo{
    display: flex;
    gap: 20px;
}

.userInfo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.icons i{
    margin-right: 30px;
    color: gray;
    font-size: 1.5rem;
}

.middleSection{
    height: 80vh; 
    background:lightgray;
}

.chatSection{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chatSection input{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
}

.chat{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day{
    align-self: center;
    margin-top: 10px;
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
}

.senderMessage{
    align-self: flex-end; 
    width: 70%;
}

.senderMessage p{
    display: inline-block;
    text-align: end;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 25px;
}

.recieverMessage{
    align-self: self-start;
    background-color: white;
    padding: 10px 20px;
    width: 70%;
    border-radius: 25px;
}

.bottomSection{
    height: 10vh;
}
