.container{
    min-height: 100vh;
    background-image: url('./../../assets/Back.png');
    background-size: cover;
    background-repeat: no-repeat ;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgbox{
    text-align: center;
    position: relative;
    top: 60px;
}

.imgbox img{
    max-width: 300px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 120px;
    margin-top: 30px;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer h2{
    font-size: 2rem;
    color: #6D5DF6;
    text-align: center;
}

.signUpPara{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.formContainer p{
    text-align: center;
    color: #6B7280;
}

.formContainer input{
    padding: 10px 30px;
   background-color: #eef2f7;
   border-radius: 20px;
   border: 1px solid #d1d5db;
   outline: none;
   margin-bottom: 10px;
}

.formContainer button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #7C3AED, #6D5DF6);
    color: white;
}

.formContainer a{
    text-decoration: none;
}


@media (min-width: 576px) {
  .formContainer input {
    padding: 12px 25px;
    font-size: 0.95rem;
  }

  .formContainer button {
    padding: 12px;
    font-size: 1rem;
  }

  .rocket {
    right: 10px;
  }
}

@media (min-width: 768px) {
  .formContainer form {
    width: 85%;
  }

  .formContainer input {
    padding: 14px 28px;
    font-size: 1rem;
  }

  .formContainer button {
    padding: 14px;
    font-size: 1.05rem;
  }

  .signUpPara {
    font-size: 1.15rem;
  }

  .remember {
    font-size: 1rem;
  }

  .rocket {
    right: 50px;
  }
}

@media (min-width: 992px) {

  .container{
    background-image: url('./../../assets/desktop.png');
  }

  .formContainer {
    width: 50%;
  }

  .formContainer form {
    width: 80%;
  }

  .formContainer input {
    padding: 15px 30px;
    font-size: 1.05rem;
  }

  .formContainer button {
    padding: 15px;
    font-size: 1.1rem;
  }

  .rocket {
    right: 150px;
  }
}

@media (min-width: 1200px) {
  .formContainer {
    width: 50%;
  }

  .formContainer form {
    width: 70%;
  }

  .formContainer input {
    padding: 16px 32px;
    font-size: 1.1rem;
  }

  .formContainer button {
    padding: 16px;
    font-size: 1.15rem;
  }

  .rocket {
    right: 330px;
    bottom: 40px;
  }
}
